In [2]:
import pandas as pd
ratings = pd.read_csv('dataset/ratings.csv')
movies = pd.read_csv('dataset/movies.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
ratings = pd.merge(movies,ratings)
ratings.head()

In [ ]:
ratings = ratings.drop(['genres','timestamp'],axis=1)
ratings.head()

In [ ]:
user_ratings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
user_ratings.head()

In [ ]:
user_ratings = user_ratings.dropna(thresh=10,axis=1).fillna(0)
user_ratings.head()

In [ ]:
item_similarity_df = user_ratings.corr(method='pearson')
item_similarity_df.head(50)

In [ ]:
def get_similar_movies(movie_name,user_rating):
  similar_score = item_similarity_df[movie_name]*(user_rating-2.5)
  similar_score = similar_score.sort_values(ascending=False)
  return similar_score
 
get_similar_movies("'burbs, The (1989)",4)

In [ ]:
get_similar_movies("A.I. Artificial Intelligence (2001)",4)